.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

.desktop-only-flex {
    display: none;
}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only-flex {
        display: flex;
    }
}